<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppRegister.Properties.Settings.SubTestDBConnectionString"
            connectionString="Data Source=TAKKII-PC\SQLEXPRESS;Initial Catalog=SubTestDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AppRegister.Properties.Settings.RegisterSubjectConnectionString"
            connectionString="Data Source=TAKKII-PC\SQLEXPRESS;Initial Catalog=RegisterSubject;User ID=sa;Password=army1991"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>